body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #333;
}

h1 {
  text-align: center;
  color: #ccc;
}

.legend {
  text-align: center;
}

.legend li {
  display: inline;
  color: #eee;
  font-size: 12px;
  padding: 0 10px;
}

.legend li span {
  vertical-align: middle;
}

.legend svg {
  margin-right: 5px;
  vertical-align: middle;
}

#vis {
  margin: 0 auto;
  display: block;
}

text {
  fill: #eee;
  transition: opacity 0.3s ease 0;
}

.link {
  stroke: #999;
  transition: opacity 0.3s ease 0;
}

#end path {
  fill: #999;
}

circle {
  stroke-width: 2px;
  cursor: pointer;
  transition: opacity 0.3s ease 0;
}

.normal circle,
.legend-normal circle {
  fill: #ccc;
  stroke: #fff;
}

.top-level circle,
.legend-top-level circle {
  fill: #c33;
  stroke: #fff;
}

.independent circle,
.legend-independent circle {
  fill: #3cc;
  stroke: #fff;
}

.inactive circle {
  opacity: 0.2;
}

line.inactive {
  opacity: 0.2;
}

text.inactive {
  opacity: 0.2;
}
