body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #333;
}

h1 {
  text-align: center;
  color: #ccc;
}

svg {
  margin: 0 auto;
  display: block;
}

text {
  fill: #eee;
}

line.link {
  stroke: #999;
}

circle {
  stroke-width: 2px;
  cursor: pointer;
}

.normal circle {
  fill: #ccc;
  stroke: #fff;
}

.top-level circle {
  fill: #c33;
  stroke: #fff;
}

.independent circle {
  fill: #3cc;
  stroke: #fff;
}

.inactive circle {
  opacity: 0.2;
}

line.inactive {
  opacity: 0.2;
}
